@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
label {
    font-size: 0.8rem;
}
.btn-danger {
    margin-left: 20px;
}
input.form-control {
    background-color: #eee;
}
.inputerror {
    color: red;
    /* position: absolute; */
    font-size: 0.7rem;
    margin-top: 2px;
    font-family: "Poppins", sans-serif;
}
